<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981798489407-0ro3bpebqvak9prm86ojo7em7gnd9ks8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981798489407-0ro3bpebqvak9prm86ojo7em7gnd9ks8</string>
	<key>API_KEY</key>
	<string>AIzaSyCqnDwVRN7-wQr8sWFDs18SoWZkPgtI3sg</string>
	<key>GCM_SENDER_ID</key>
	<string>981798489407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-42b80</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-42b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981798489407:ios:5493b6a4dd984ee6acd78a</string>
</dict>
</plist>